.nav {
  display: flex;
  height: calc(100vh - 0.8rem);
  position: relative;

  .navToolBtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #35393d;
    position: fixed;
    left: 30px;
    top: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }

  .side {
    width: 15%;
    height: 100%;
    overflow-y: auto;
    background-color: #080808;
    color: #f2f2f2;

    ul {
      height: 100%;

      li {
        height: 60px;
        line-height: 60px;
        cursor: pointer;
        padding: 0px 20px;
        box-sizing: border-box;
        font-size: 17px;
        font-family: "宋体";
        box-sizing: border-box;

        .zi {
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-left: 10px;
        }
      }

      li:hover {
        background-color: #1c88cf;
      }

      .nav-active {
        background-color: #1c88cf;
      }
    }
  }

  .main {
    width: 85%;
    height: 100%;
    overflow-y: auto;
    background-color: #5f479a;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #f2f2f2;

    .pub {
      margin-bottom: 20px;

      .title {
        font-size: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
      }

      .content {
        ul {
          position: relative;
          display: flex;
          flex-wrap: wrap;

          li {
            margin-right: 20px;
            border: 1px solid #f2f2f2;
            padding: 5px 10px;
            box-sizing: border-box;
            background-color: #a59aca;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 15px;
            display: flex;
            align-items: center;

            .icon {
              display: inline-block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #00cc96;
              line-height: 20px;
              text-align: center;
              font-size: 10px;
              margin-right: 10px;
            }

            img {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              margin-right: 10px;
            }

            span {
              color: #f2f2f2;
              font-size: 15px;
            }
          }

          li:hover {
            // background-color: #4cc9f0;
            // -webkit-box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
            // -moz-box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
            // box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
            background-color: #b9e769;
            -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
            -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
            box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
          }
        }
      }
    }

    .nav_move_pub {
      animation: nav_move_pub 1s;
    }
  }
}

@keyframes nav_move_pub {
  0% {
    -webkit-transform: translateX(400px);
    opacity: 0;
  }
}

.my-drawer {
  ul {
    height: 100%;

    li {
      height: 60px;
      line-height: 60px;
      cursor: pointer;
      padding: 0px 20px;
      box-sizing: border-box;
      font-size: 17px;
      font-family: "宋体";
      box-sizing: border-box;

      .zi {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-left: 10px;
      }
    }

    li:hover {
      background-color: #1c88cf;
    }

    .nav-active {
      background-color: #1c88cf;
    }
  }
}

// 移动端屏幕适配
@media screen and (min-width: 375px) {
  .nav {
    .navToolBtn {
      display: flex;
    }

    .side {
      display: none;
    }

    .main {
      width: 100%;
    }
  }

}

// PC端屏幕适配
@media screen and (min-width: 750px) {
  .nav {
    .navToolBtn {
      display: none;
    }

    .side {
      display: block;
    }

    .main {
      width: 85%;
    }
  }
}